body {
    background-color: white; 
    font-family: 'Lato', sans-serif;
}

nav {
    height: 90px;
    margin: -20px;
    width: 102%;
    position: fixed;
    left: 0;
    top: 10;
    border-bottom: 0.5px solid #c4c4c4;
    overflow: hidden;
    z-index: 100;
    background-color: #6F5794;
    transition:  0.7s;
}

.footer {
    position: relative;
    left: -10;
    bottom: -30;
    width: 102%;
    background-color: #6F5794;
    color: white;
 }

.logo {
    text-decoration: none;
    float:  left;
}

.logo:hover {
    cursor: pointer;
    text-decoration: none;
}

.menu {
    float: right;
}

li {
    float:  left;
    list-style-type: none;
}

li a {
    display:  inline-block;
    padding: 23px 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    z-index:120;
    text-decoration: none;
}

.row {
    width: 80%;
    display: flex;
}

.column1 {
    width: 50%;
    float: left;
}

.column2 {
    width: 50%;
    float: right;
}

.image {
    width: auto;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}

.checkincard {
    width: 500px;
    height: 700px;
    margin-top: 10px;
    background-color: #c4c4c4;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#signinimage{
    border-radius: 50%;
    width: 200px; 
    height: 200px;
}
